<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 home__header-text">Lost In The Woods</h1>
      <p class="lead ">Local hiking trails</p>
    </div>
  </div>
  <div class="row home__table-container">
    <div class="col">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th>Trail Name</th>
            <th>Trail Length</th>
            <th>Elevation Change</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach(var trail in ViewBag.Trails) {
            <tr>
              <td><a href="show/@trail.Id">@trail.TrailName</a></td>
              <td>@trail.TrailLength <small><span class="text-muted">miles</span></small></td>
              <td>@trail.Elevation <small><span class="text-muted">feet</span></small></td>
              <td><a class="btn btn-outline-danger" href="delete/@trail.Id">Delete</a></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a class="btn btn-lg btn-outline-primary float-right home__new-trail-button" href="/new">New Trail</a>
    </div>
  </div>
</div>