<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1 class="pb-3">Registered Ninjas<hr/></h1>
      <table class="table table-striped border">
        <thead class="thead-dark">
          <tr>
            <th>Ninja Name</th>
            <th>Home Dojo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
       <h1 class="pb-3">Register A Ninja<hr/></h1>
      <form class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="NinjaName">Ninjas Name</label>
            <input name="NinjaName" type="text" class="form-control col-5">
          </div>
          <div class="form-group">
            <label for="NinjaLevel">Ninja Level (1-10)</label>
            <select name="NinjaLevel" class="form-control col-2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="AssignedDojo">Assigned Dojo</label>
            <select name="AssignedDojo" class="form-control col-4">
              <option>Rouge</option>
              <option>Chicago</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Description">Description <em>(optional)</em></label>
            <textarea class="form-control col-8" rows="3"></textarea>
          </div>
          <button class="btn btn-lg btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>