@model weddingPlanner.Models.User

<!-- Header !-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
      <svg viewBox="0 0 369 48" width="75%" height="50%">
        <defs id="SvgjsDefs1069"></defs>
        <g id="main_text" rel="mainfill" name="main_text" feature="main_text" xmlns:name="mainText_mainfill" groupname="main_text"
          fill="white" transform="translate(48.50817025774648, -5.76365796694032) scale(2.4863813229571985)">
          <path d="M5.86 17.16 l-0.62 0 l0 2.84 l-4.64 0 l0 -13.4 l5.26 0 c3.98 0 6.08 1 6.08 5.22 s-2.08 5.34 -6.08 5.34 z M5.24 13.5 l0.42 0 c1.14 0 1.6 -0.44 1.6 -1.66 c0 -1.28 -0.44 -1.58 -1.6 -1.58 l-0.42 0 l0 3.24 z M23.16 6.859999999999999 l-0.12 3.6 s-2.82 -0.3 -4.78 -0.3 c-0.82 0 -1.02 0.08 -1.02 0.36 s0.14 0.38 1.42 0.66 c3.82 0.86 4.94 1.36 4.94 4.5 c0 3.42 -1.88 4.6 -5.3 4.6 c-2.86 0 -5.64 -0.72 -5.64 -0.72 l0.2 -3.54 s3.06 0.44 5.02 0.44 c0.8 0 1.04 -0.14 1.04 -0.46 c0 -0.28 -0.14 -0.32 -1.54 -0.54 c-3.76 -0.58 -4.82 -1.62 -4.82 -4.42 c0 -3.82 1.98 -4.7 5.3 -4.7 c2.14 0 5.3 0.52 5.3 0.52 z M24.400000000000002 20 l0 -13.4 l10.04 0 l0 3.7 l-5.4 0 l0 1.14 l4.2 0 l0 3.66 l-4.2 0 l0 1.2 l5.4 0 l0 3.7 l-10.04 0 z M39.94 6.6 l0 8.78 c0 0.76 0.34 1.06 1.26 1.06 s1.24 -0.3 1.24 -1.06 l0 -8.78 l4.64 0 l0 8.52 c0 3.9 -1.98 5.14 -5.88 5.14 s-5.9 -1.16 -5.9 -5.06 l0 -8.6 l4.64 0 z M54.06 20 l-5.86 0 l0 -13.4 l5.66 0 c4.66 0 6.5 2.04 6.5 6.5 s-1.64 6.9 -6.3 6.9 z M55.68 13.1 c0 -1.86 -0.22 -2.72 -2.02 -2.72 l-0.82 0 l0 5.84 l0.82 0 c1.9 0 2.02 -1.16 2.02 -3.12 z M67.38 16.5 c1.52 0 1.7 -1.16 1.7 -3.2 c0 -2.06 -0.16 -3.2 -1.7 -3.2 c-1.48 0 -1.7 1.14 -1.7 3.2 s0.22 3.2 1.7 3.2 z M67.38 20.26 c-4.4 0 -6.38 -2.08 -6.38 -6.96 s1.92 -6.96 6.38 -6.96 s6.38 2.08 6.38 6.96 s-1.92 6.96 -6.38 6.96 z M84.4 16.22 l0.06 3.52 s-2.12 0.52 -4.3 0.52 c-4.4 0 -5.72 -1.56 -5.72 -7 c0 -5.28 1.28 -6.92 5.92 -6.92 c1.5 0 4.1 0.54 4.1 0.54 l-0.12 3.58 s-1.64 -0.2 -3.06 -0.2 c-1.78 0 -2.16 0.36 -2.16 3 c0 2.7 0.4 3.08 2.16 3.08 c1.42 0 3.12 -0.12 3.12 -0.12 z M91.44 16.5 c1.52 0 1.7 -1.16 1.7 -3.2 c0 -2.06 -0.16 -3.2 -1.7 -3.2 c-1.48 0 -1.7 1.14 -1.7 3.2 s0.22 3.2 1.7 3.2 z M91.44 20.26 c-4.4 0 -6.38 -2.08 -6.38 -6.96 s1.92 -6.96 6.38 -6.96 s6.38 2.08 6.38 6.96 s-1.92 6.96 -6.38 6.96 z M98.74 20 l0 -13.4 l4.64 0 l0 13.4 l-4.64 0 z M104.58 20 l0 -13.4 l4.56 0 l3.08 5.08 l0.28 0 l0 -5.08 l4.64 0 l0 13.4 l-4.58 0 l-3.04 -5.46 l-0.3 0 l0 5.46 l-4.64 0 z M128.66 6.859999999999999 l-0.12 3.6 s-2.82 -0.3 -4.78 -0.3 c-0.82 0 -1.02 0.08 -1.02 0.36 s0.14 0.38 1.42 0.66 c3.82 0.86 4.94 1.36 4.94 4.5 c0 3.42 -1.88 4.6 -5.3 4.6 c-2.86 0 -5.64 -0.72 -5.64 -0.72 l0.2 -3.54 s3.06 0.44 5.02 0.44 c0.8 0 1.04 -0.14 1.04 -0.46 c0 -0.28 -0.14 -0.32 -1.54 -0.54 c-3.76 -0.58 -4.82 -1.62 -4.82 -4.42 c0 -3.82 1.98 -4.7 5.3 -4.7 c2.14 0 5.3 0.52 5.3 0.52 z"></path>
        </g>
        <g id="SvgjsG1073" rel="mainfill" name="symbol" feature="symbol" xmlns:name="symbol_mainfill" fill="#F8D800" transform="translate(0.8034417286612934, 4.182582396619541) scale(0.46956960056340985)">
          <path d="M83.246521,26.351429c-3.7650604-2.391098-8.7184525-3.7086334-13.9523697-3.7086334  c-5.2337036,0-10.1888046,1.3175354-13.9521561,3.7086334c-0.5369949,0.3411121-1.0413971,0.7001781-1.5150185,1.0729218v-7.6301422  c0-3.895113-2.2604027-7.4779673-6.363903-10.0863228C43.7013283,7.3166804,38.7462234,6,33.510704,6  C28.2786064,6,23.3236084,7.3166804,19.560154,9.7078857c-4.1035004,2.6083555-6.363903,6.1912098-6.363903,10.0863228V31.45187  v1.9422684v9.7145386v1.942482v11.6566963c0,3.8967171,2.2604027,7.4789276,6.363903,10.0863266  c2.2075043,1.402916,4.8251572,2.4322357,7.6686134,3.0468216V79.70504c0,3.8958664,2.2588005,7.4789352,6.3641167,10.0864334  C37.3544159,92.1826782,42.3095207,93.5,47.5434341,93.5c5.2337036,0,10.1888084-1.3173218,13.9504471-3.7085266  c4.105423-2.6074982,6.364006-6.190567,6.364006-10.0864334v-4.253212c0.47715,0.0222244,0.9540939,0.0367584,1.436264,0.0367584  c5.2339172,0,10.1873093-1.3164673,13.9523697-3.7085266c4.1035004-2.6074982,6.3638992-6.1896057,6.3638992-10.0854683V50.0377884  v-1.9433365V36.4377518C89.6104202,32.5417824,87.3500214,28.9588223,83.246521,26.351429z M33.510704,10.8483467  c8.3851433,0,15.4671783,4.0966597,15.4671783,8.9458618c0,4.8490944-7.0820351,8.945755-15.4671783,8.945755  c-8.3816147,0-15.4654655-4.0966606-15.4654655-8.945755C18.0452385,14.9450064,25.1290894,10.8483467,33.510704,10.8483467z   M18.0452385,31.45187v-2.6452236c0.4736252,0.3737068,0.9781322,0.7327728,1.5149155,1.073885  c3.7634544,2.391098,8.7184525,3.7077789,13.9505501,3.7077789c5.2355194,0,10.1906242-1.3166809,13.9523697-3.7077789  c0.5367813-0.3411121,1.0429993-0.7001781,1.5148087-1.073885V31.45187v1.9422684  c0,4.8483467-7.0820351,8.9459686-15.4671783,8.9459686c-8.3816147,0-15.4654655-4.0976219-15.4654655-8.9459686V31.45187z   M27.3058167,64.8730698c-5.3979511-1.4130707-9.2605782-4.583107-9.2605782-8.1652145v-2.6442604  c0.4736252,0.3736,0.9781322,0.732666,1.5149155,1.0737762c2.9939213,1.9020882,6.7418823,3.1213074,10.7839336,3.5418205  C28.6258106,60.5233574,27.5844135,62.6325455,27.3058167,64.8730698z M18.0452385,45.0511589v-1.942482v-0.701889  c0.4736252,0.3727455,0.9781322,0.7318115,1.5149155,1.0729218c3.7634544,2.3920631,8.7184525,3.708744,13.9505501,3.708744  c5.2355194,0,10.1906242-1.3166809,13.9523697-3.708744c0.5367813-0.3411102,1.0429993-0.7001762,1.5148087-1.0729218v0.701889  v1.942482c0,4.8498421-7.0820351,8.9456444-15.4671783,8.9456444C25.1290894,53.9968033,18.0452385,49.901001,18.0452385,45.0511589  z M63.0088997,79.70504c0,4.849205-7.0822449,8.9459686-15.4654655,8.9459686  c-8.3833237,0-15.4654655-4.0967636-15.4654655-8.9459686v-4.5874863c0.4719162,0.3745575,0.9763184,0.7327728,1.5149155,1.0738831  c3.7615318,2.391098,8.7166367,3.7086334,13.9505501,3.7086334c5.2337036,0,10.1888084-1.3175354,13.9504471-3.7086334  c0.5387039-0.3411102,1.0429993-0.6993256,1.5150185-1.0738831V79.70504z M62.9985352,66.4214325  c-0.0683937,1.0746307-0.4821739,2.1081238-1.1796799,3.0640259c-0.9747124,1.3344193-2.4998856,2.5168839-4.401226,3.4444656  c-2.7015381,1.3173218-6.1604309,2.1209488-9.8741951,2.1209488c-5.6511154,0-10.7087021-1.8603058-13.406929-4.5574646  c-1.3063164-1.3054581-2.0585365-2.806694-2.0585365-4.3875427c0-0.1648941,0.0068398-0.3282928,0.0238304-0.4914703  c0.4582367-4.6303444,7.342144-8.4542885,15.4416351-8.4542885c0.4736252,0,0.9454346,0.014534,1.4105072,0.0392227  c0.0068398,0.0009613,0.0172081,0.0009613,0.023941,0.0018158c1.1183395,0.0623016,2.2022667,0.1974869,3.245266,0.3958282  c0.5198975,0.0990601,1.0293236,0.2144775,1.5251732,0.3445282c0.027359,0.0068398,0.053112,0.012825,0.0786552,0.0196648  c3.6813812,0.9780273,6.6375809,2.7749557,8.1285591,4.9602356c0.6788063,0.9942665,1.0533638,2.0696487,1.0533638,3.1844635  C63.0088997,66.2119827,63.0036659,66.3162766,62.9985352,66.4214325z M84.7613297,61.6945915  c0,4.8489876-7.0837479,8.9450111-15.4671783,8.9450111c-0.4838867,0-0.9608231-0.0136795-1.436264-0.0410385v-4.4926987  c0-0.7898407-0.0922241-1.5661087-0.275177-2.3244171c0.5658493,0.0316315,1.1370468,0.0494766,1.711441,0.0494766  c5.2339172,0,10.1873093-1.3164635,13.9523697-3.7075653c0.5367813-0.3413239,1.0412903-0.7003899,1.5148087-1.0738831V61.6945915z   M84.7613297,48.0944519v1.9433365c0,4.8481331-7.0837479,8.9450035-15.4671783,8.9450035  c-1.6225281,0-3.1973953-0.1538849-4.6797104-0.4368629c-0.8754387-0.9147606-1.9168358-1.7629471-3.1205597-2.5262794  c-1.9304047-1.2268105-4.1770248-2.1690369-6.6135406-2.7980423c-0.6770935-0.9943771-1.0533638-2.0699692-1.0533638-3.1838188  v-1.9433365v-2.6441536c0.4736214,0.3735962,0.9780235,0.7317009,1.5150185,1.0737762  c3.7633514,2.3903503,8.7184525,3.7085266,13.9521561,3.7085266c5.2339172,0,10.1873093-1.3181763,13.9523697-3.7085266  c0.5367813-0.3420753,1.0412903-0.7001801,1.5148087-1.0737762V48.0944519z M69.2941513,45.3827591  c-8.3849297,0-15.4671745-4.0960197-15.4671745-8.9450073c0-4.8490944,7.0822449-8.9459686,15.4671745-8.9459686  c8.3834305,0,15.4671783,4.0968742,15.4671783,8.9459686C84.7613297,41.2867393,77.6775818,45.3827591,69.2941513,45.3827591z"></path>
        </g>
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/coins">
            <i class="fas fa-dollar-sign"></i> Coins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">
            <i class="fas fa-book"></i> Order Book</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/accounts">
            <i class="fas fa-users"></i> Accounts</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search coins..." aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i> Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
            <i class="fas fa-user"></i> Open New Account</h5>
            <!-- New Account Form -->
            <form  asp-controller="User" asp-action="Register" class="form-inline" method="POST">
              <input asp-for="Name" type="text" class="form-control mb-2 mr-sm-2" placeholder="Full Name" autocomplete="off">
              <span class="text-danger" asp-validation-for="Name"></span>
              <button type="submit" class="btn btn-block btn-primary mb-2">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
      <div class="col-8">
        <table class="table table-striped text-center border">
        <thead>
          <tr>
            <th>Customer Name</th>
            <th>Account Opened</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @{
            if (ViewBag.Users != null) {
              @foreach (var user in ViewBag.Users)
              {
                <tr>
                  <td>@user.Name</td>
                  <td>@user.CreatedAt</td>
                  <td><a class="btn btn-danger" href="#">Delete</a></td>
                </tr>
              }
            }
          }
        </tbody>
      </table>
      </div>
    </div>

  </div>