@model lost_in_the_woods.Models.Trail

<div class="container">
  <div class="row">
    <div class="col-9">
      <h1 class="display-4 home__header-text">Add a New Trail</h1>
    </div>
    <div class="col-3">
      <a href="/" class="nav-link inline">Home</a>
    </div>
  </div>
  <div class="row justify-content-center create__form-container">
    <div class="col-5">
      <form app-controller="NewTrail" asp-action="Create" method="POST">
        <div class="form-group">
          <label>Trail Name</label>
          <input asp-for="TrailName" class="form-control">
          <span class="text-danger" asp-validation-for="TrailName"></span>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea rows="3" asp-for="Description" class="form-control"></textarea>
          <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
          <label>Trail Length <small>(miles)</small></label>
          <input asp-for="TrailLength" class="form-control">
          <span class="text-danger" asp-validation-for="TrailLength"></span>
        </div>
        <div class="form-group">
          <label>Elevation <small>(feet)</small></label>
          <input asp-for="Elevation" class="form-control">
          <span class="text-danger" asp-validation-for="Elevation"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg float-right">Add</button>
      </form>
    </div>
  </div>
</div>