.container {
  margin-top: 10em;
}

#statContainer {
  display: flex;
  margin-bottom: 10px;
}

#statItems>span {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  color: #565555;
}

.stat-value {
  font-weight: bolder;
  color: #000;
}

.img-fluid {
  padding: 20px;
}

#playerButtons {
  margin-top: 10px;
}

#playerButtons>button {
  margin-left: 10px;
  margin-right: 10px;
}