<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h2 class="pb-4">Login</h2>
          <form method="POST">
            <div class="form-group">
              <label for="FirstName">First Name</label>
              <input type="text" class="form-control" id="FirstName">
            </div>
            <div class="form-group">
              <label for="LastName">Last Name</label>
              <input type="text" class="form-control" id="LastName">
            </div>
            <div class="form-group">
              <label for="EmailAddress">Email Address</label>
              <input type="email" class="form-control" id="EmailAddress">
            </div>
            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password">
            </div>
             <div class="form-group">
              <label for="ConfirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="ConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/" class="nav-link float-right">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>