.container {
    margin-top: 50px;
}

textarea {
    resize: none;
}

.card {
    margin: 20px auto;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr
}

@media only screen and (max-width: 600px) {
    #grid {
        grid-template-columns: 1fr;
    }
}