<div class="container">
  <div class="row">
    <div class="col">
      <p class="lead"><a href="/dojos">Back</a></p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <h1 class="display-4">Mori Dojo</h1>
      <p class="lead">Dojo Location • Chicago</p>
      <p class="lead">Information • dabonemonetimeaintit</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="pb-3">Current Members</h1>
      <table class="table table-striped border">
        <thead class="thead-dark">
          <tr>
            <th>Ninja</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <h1 class="pb-3">Rouge Ninjas</h1>
      <table class="table table-striped border">
        <thead class="thead-dark">
          <tr>
            <th>Ninja</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
            <td>Rouge</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>