<div class="container">
  <div class="row">
    <div class="col">
      <p class="lead"><a href="/">Back</a></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3">
      <h1 class="pb-3">All Dojos<hr/></h1>
      <table class="table table-striped border">
        <thead class="thead-dark">
          <tr>
            <th>Dojo Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Danny Foster</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
          </tr>
          <tr>
            <td>Danny Foster</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
       <h1 class="pb-3">Register A Dojo<hr/></h1>
      <form class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="DojoName">Dojo Name</label>
            <input name="DojoName" type="text" class="form-control col-5">
          </div>
          <div class="form-group">
            <label for="DojoLocation">Dojo Location</label>
            <input name="DojoLocation" type="text" class="form-control col-5">
          </div>
          <div class="form-group">
            <label for="Information">Additional Dojo Information</label>
            <textarea class="form-control col-8" rows="3"></textarea>
          </div>
          <button class="btn btn-lg btn-primary">Add</button>
          </div>
        </form>
    </div>
  </div>
</div>